.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 30px;
}

.topo nav {
    display: flex;
    gap: 25px;

}


.hero{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.container-artigos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

article {
    flex: 30 calc(50% - 20px);
    background: silver;
    padding: 20px;
    border-radius: 10px;
}

.container-imagens {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 20px;
}

.container-imagens {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}


footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: black;
    color: white;
    margin-top: 40px;
}







