.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 30px;
}

.topo nav {
    display: flex;
    gap: 25px;

}


.hero{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.container-artigos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}



