.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: black;
    color: white;
    padding: 30px;
}

.topo nav {
    display: flex;
    gap: 25px;

}


.hero{
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 30px;
}

.container-artigos {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

article {
    flex: 1 1 calc(33% - 20px);
    background: silver;
    padding: 20px;
    border-radius: 10px;
}




